body {
    color:rgb(136, 8, 161);
    background:black;
    margin: 0px;font-family: "Jaro", sans-serif;
}

header {
    border-bottom: solid 2px rgb(132, 10, 163);
    padding: 50px;
    font-size: 60px;
}

section {
    background: rgb(160, 33, 211);
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    color: black;
}

.chamada-texto {
    margin-right: 5%;
}
