body {
    color:rgb(136, 8, 161);
    background:black;
    margin: 0px;font-family: "Jaro", sans-serif;
}

header {
    border-bottom: solid 2px rgb(132, 10, 163);
    padding: 20px;
    font-size: 32px;
}

section {
    background: rgb(170, 14, 209);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    color: black;
}

.chamada-texto {
    margin-right: 5%;
}
